<md-card [@serviceHover]="serviceActive"
         (mouseleave)="disableService()"
         (mouseenter)="activateService()">
    <img [src]="service.productImageUri" class="service-card-image"/>
    <div class="my-card-content" fxLayout="column" fxLayoutAlign="start center">

        <md-card-header>
            <md-card-title><h4>{{service.productName}}</h4></md-card-title>
        </md-card-header>

        <md-card-content fxLayout="row" fxLayoutAlign="space-between end">

            <md-card-subtitle>
                <p>{{service.productDescription}}</p>
            </md-card-subtitle>

            <div class="product-price">
                <span>{{service.productPrice | currency:'UAH':true:'2.2-2'}}</span>
            </div>

        </md-card-content>
    </div>
</md-card>
