.cards-wrapper {
    white-space: nowrap;
    width: 94%;
    padding: 3vh 1vw;
    overflow: hidden;
    position: relative;
    left: 3%;
    .cards-container {
        width: 100%;
        display: inline-block;
        white-space: initial;
        .service-card {
            //  margin: 0.4em;
        }
    }

    .scroller {
        background-color: #f5f5f5 !important;
        background-size: contain !important;
        border-radius: 50%;
        position: absolute;
        filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .27));
        z-index: 10;
        cursor: pointer;
        height: 4em;
        width: 4em;
        top: 50%;
        margin-top: -2em;
        @include transition(filter 275ms linear 0s, transform 275ms linear 0s);
        &:hover {
            filter: drop-shadow(0 21px 16px rgba(0, 0, 0, .18));
            transform: translateY(-0.5em);
        }
        &#left-scroller {
            background: url("../../content/images/icons/ic_chevron_left_24px.svg") no-repeat center center;
            left: 0;
        }
        &#right-scroller {
            background: url("../../content/images/icons/ic_chevron_right_24px.svg") no-repeat center center;
            right: 0;
        }
    }
}
