.wrapper {
    .contacts-list {
        padding: 12px;
    }
    .divider {
        width: 1px;
        background-color: #cccccc;
    }
    .ok-button {
        float: right;
        position: relative;
        right: 3%;
    }
}
