@import "../../../content/scss/varibles";

md-sidenav {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 16.92rem;
}

#enteties-menu {
    background-color: $magenta-accent;
    color: white;
}

a {
    text-decoration: none;
}

#administration-menu {
    background-color: $yellow-accent;
    color: black;
}

#profile-menu {
    color: white;
    background-color: $cyan-accent;
}

@import '../../../content/scss/varibles';

$dot-size: 0.45em;
$dot-margins: 0.3em;
@keyframes bouncy {
    0%, 100% {
        transform: translateY(0em) scale(1);
        filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .27));
    }
    50% {

        filter: drop-shadow(0 21px 16px rgba(0, 0, 0, .18));
        transform: translateY(-0.8em) scale(1.2);
    }
}

.loader-wrapper {
    position: fixed;
    text-align: center;
    font-size: 4rem;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    .spinner-wrapper {
        position: relative;
        display: block;
        margin: -$dot-size/2 auto auto;
        width: $dot-size*3 + $dot-margins*2;
        top: 50%;
        height: $dot-size;

        .dot {
            width: $dot-size;
            position: absolute;
            top: 0px;
            height: $dot-size;
            border-radius: 50%;

            &:nth-child(1) {
                background-color: $magenta-accent;
                left: 0;
                &.animated {
                    animation: bouncy 1s ease-in-out infinite;
                }
            }

            &:nth-child(2) {
                background-color: $yellow-accent;
                left: $dot-size + $dot-margins;
                &.animated {
                    animation: bouncy 1s ease-in-out 0.33s infinite;
                }
            }
            &:nth-child(3) {
                background-color: $cyan-accent;
                left: $dot-size*2 + $dot-margins*2;
                &.animated {
                    animation: bouncy 1s ease-in-out infinite;
                }
            }
        }
    }
}
