@import "../../../content/scss/varibles";

.admin-menu-item {
    a {
        padding: 1rem;
        display: inline-block;
        width: 100%;
        background-color: $admin-menu-main-item-bc;
    }
    .admin-menu-child-items div a {
        padding: 0.1rem;
        padding-left: 4rem;
        background-color: $admin-menu-secondary-item-bc;
    }

}
