<div id="navbar-position-wrapper"
     [ngClass]="{
     'showLogo':isLogoShown,
     'fixed':isPositionFixed,
     'relative':!isPositionFixed,
     'transparent':isTransparent,
     'not-transparent':!isTransparent
     }">

    <jhi-mobile-navbar *ngIf="showMobileNavbar"
                       [categories]="categories">

    </jhi-mobile-navbar>

    <div id="navbar-super-wrapper" *ngIf="!showMobileNavbar">

        <div id="navbar" fxLayout="row" fxLayoutAlign="start stretch">
            <a id="site-logo-wrapper" routerLink="/" href="javascript:void(0)">
                <div id="transform-wrapper">
                    <div id="site-logo"></div>
                    <div id="logo-text">
                        <div id="text">
                            <p id="header" class="logo-text">МІСЬКА ДРУКАРНЯ</p>
                            <p id="subheader" class="logo-text">рекламно-поліграфічна компанія</p>
                        </div>
                    </div>
                </div>
            </a>
            <div id="userMenu" fxFlex>
                <ul>
                    <li class="navbar-menu-item">
                        <a class="nav-link user-menu-link"
                           id="home-menu-item"
                           [@homeLinkShadowState]="linkShadows[1]"
                           [routerLink]="['/']"
                           [queryParams]="{pagePosition:1}">
                            Чому ми?
                        </a>
                    </li>
                    <li (mouseenter)="showServicesSubMenu()"
                        (mouseleave)="hideServicesSubMenu()"
                        id="services-menu-item"
                        class="navbar-menu-item">
                        <a class="nav-link user-menu-link"
                           id="services-link"
                           [@servicesLinkShadowState]="linkShadows[2]"
                           [routerLink]="['/']"
                           [queryParams]="{pagePosition:2}">
                            Послуги
                        </a>
                        <div class="sub-menu">
                            <div class="menu-item"
                                 *ngFor="let category of categories">
                                <a [routerLink]="['/product-category',category.id]">
                                    {{category.categoryName}}
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="navbar-menu-item" id="portfolio-menu-item">
                        <a class="nav-link user-menu-link"
                           id="portfolio-menu-link"
                           [routerLink]="['/']"
                           [queryParams]="{pagePosition:3}"
                           [@portfolioLinkShadowState]="linkShadows[3]">
                            Портфоліо
                        </a>
                        <div class="sub-menu">
                            <div class="menu-item"
                                 *ngFor="let category of categories">
                                <a [routerLink]="['/product-category/portfolio',category.id]">
                                    {{category.categoryName}}
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="navbar-menu-item">
                        <a class="nav-link user-menu-link"
                           [@aboutUsLinkShadowState]="linkShadows[4]"
                           id="about-us-menu-item"
                           [routerLink]="['/']"
                           [queryParams]="{pagePosition:4}">
                            Про нас
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
