<div id="navbar-position-wrapper" #navbarPositionWrapper class="relative">

    <jhi-mobile-navbar *ngIf="showMobileNavbar"
                       [categories]="categories">

    </jhi-mobile-navbar>

    <div id="navbar-super-wrapper" *ngIf="!showMobileNavbar">

        <div id="navbar">
            <div id="site-logo-wrapper">
                <div id="site-logo"></div>
                <div id="logo-text">
                    <p id="header" class="logo-text">МІСЬКА ДРУКАРНЯ</p>
                    <p id="subheader" class="logo-text">рекламно-поліграфічна компанія</p>
                </div>
            </div>
            <div id="userMenu">
                <ul>
                    <li class="navbar-menu-item">
                        <a class="nav-link user-menu-link"
                           id="home-menu-item"
                           [@homeLinkShadowState]="linkShadows[1]"
                           (click)="positionItemClicked(1)">
                            Чому ми?
                        </a>
                    </li>
                    <li (mouseenter)="showServicesSubMenu()"
                        (mouseleave)="hideServicesSubMenu()"
                        id="services-menu-item"
                        class="navbar-menu-item">
                        <a class="nav-link user-menu-link"
                           href="javascript:void(0)"
                           id="services-link"
                           [@servicesLinkShadowState]="linkShadows[2]"
                           (click)="positionItemClicked(2)">
                            Послуги
                        </a>
                        <div class="service-sub-menu">
                            <div class="menu-item"
                                 *ngFor="let category of categories">
                                <a [routerLink]="'./category/'+category.id + '/products'">
                                    {{category.categoryName}}
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="navbar-menu-item">
                        <a class="nav-link user-menu-link"
                           href="javascript:void(0)"
                           id="portfolio-menu-item"
                           (click)="positionItemClicked(3)"
                           [@portfolioLinkShadowState]="linkShadows[3]">
                            Портфоліо
                        </a>
                    </li>
                    <li class="navbar-menu-item">
                        <a class="nav-link user-menu-link"
                           [@aboutUsLinkShadowState]="linkShadows[4]"
                           id="about-us-menu-item"
                           (click)="positionItemClicked(4)"
                           href="javascript:void(0)">
                            Про нас
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <a *ngIf="isAuthenticated()" (click)="toggleSidenav()">
        <div id="navbar-toggler"></div>
    </a>
</div>
