<md-sidenav-container>
    <md-sidenav mode="over" [opened]="sidenavOpened" #sidenav *ngIf="isAuthenticated()">
        <a (click)="toggleSidenav()">Close sidenav</a>
        <md-nav-list>
            <!-- Products menu -->
            <md-list-item id="enteties-menu">
                <span jhiTranslate="global.menu.entities.main">Сущности</span>
            </md-list-item>
            <a md-list-item *ngFor="let menu of entitiesMenuItem" routerLinkActive="active"
               [routerLink]="menu.routerLink">
                <span [jhiTranslate]="menu.translateVar">{{name}}</span>
            </a>
            <div mdListDivider></div>

            <!-- Administration menu -->
            <md-list-item id="administration-menu">
                <span jhiTranslate="global.menu.admin.main">Адміністрування</span>
            </md-list-item>

            <a md-list-item *ngFor="let menu of adminMenuItem" routerLinkActive="active"
               [routerLink]="menu.routerLink">
                <span [jhiTranslate]="menu.translateVar">{{name}}</span>
            </a>

            <a md-list-item href="/h2-console">
                <span jhiTranslate="global.menu.admin.database">Database</span>
            </a>
            <div MdListDivider></div>


            <!-- Profile menu -->
            <md-list-item id="profile-menu">
                <span jhiTranslate="global.menu.account.main">Profile</span>
            </md-list-item>

            <a md-list-item *ngFor="let menu of profileMenuItem" routerLinkActive="active"
               [routerLink]="menu.routerLink">
                <span [jhiTranslate]="menu.translateVar">{{name}}</span>
            </a>

            <a md-list-item
               id="logout"
               (click)="logout()"
               href="javascript:void(0)">
                <span jhiTranslate="global.menu.account.logout">Sign out</span>
            </a>

            <a md-list-item
               routerLinkActive="active"
               routerLink="register"
               href="javascript:void(0)">
                <span jhiTranslate="global.menu.account.register">Register</span>
            </a>

        </md-nav-list>
    </md-sidenav>


</md-sidenav-container>
