<div *ngSwitchCase="true" id="navbar-admin-menu" [@menu-position]="menuState">
    <div id="navbar-admin-menu-wrapper">
        <div id="admin-menu-toggle" (click)="toggleMenuState()">
            <div id="menu-toggle-wrapper">
                <i [@arrow-position]="menuState" class="fa fa-arrow-right"></i>
            </div>
        </div>
        <jhi-navbar-admin-menu-item [item]="adminMenuItem">
            <div class="inserted-menu-item">
                <a href="/h2-console" jhiTranslate="global.menu.admin.database">
                    Database
                </a>
            </div>
        </jhi-navbar-admin-menu-item>

        <jhi-navbar-admin-menu-item [item]="entitiesMenuItem"></jhi-navbar-admin-menu-item>
        <jhi-navbar-admin-menu-item [item]="profileMenuItem">
            <div>
                <div class="inserted-menu-item" *ngSwitchCase="true">
                    <a (click)="logout()" id="logout"
                       href="javascript:void(0)"
                       jhiTranslate="global.menu.account.logout">
                        Sign out
                    </a>
                </div>

                <div class="inserted-menu-item" *ngSwitchCase="false">
                    <a (click)="login()" id="login"
                       jhiTranslate="global.menu.account.login"
                       href="javascript:void(0)">
                        Sign in
                    </a>
                </div>
                <div class="inserted-menu-item" *ngSwitchCase="false">
                    <a jhiTranslate="global.menu.account.register"
                       routerLinkActive="active"
                       routerLink="register"
                       href="javascript:void(0)">
                        Register
                    </a>
                </div>
            </div>
        </jhi-navbar-admin-menu-item>
    </div>
</div>
