<div class="my-fullpage-container">
    <lamps #lampsComponentElementRef *ngIf="!showMobileNavbar"></lamps>

    <div #navbarElementRef style="position:relative;">
        <jhi-navbar [categories]="categories"
                    [isTransparent]="isNavbarTransparent"
                    [isPositionFixed]="isNavbarFixed"
                    [showLogo]="isNavbarLogoShown"
                    [positionSubject]="navbarPositionSubject"
                    id="navbar">
        </jhi-navbar>
    </div>

    <div #whyUsElement
         class="page-part"
         id="why-us">
        <jhi-slider #sliderElementRef [slidePages]="slidePages"></jhi-slider>
    </div>

    <div id="services" #servicesElementRef class="page-part">

        <div id="services-tabs-container-wrapper">
            <md-tab-group id="services-tab-container"
                          [selectedCategoryTabIndex]="categoryTabIndex"
                          (selectChange)="selectActiveTabIndex($event)">

                <md-tab *ngFor="let category of categories; let c = index" [label]="category.categoryName">
                    <shuffle-cards-row [allProducts]="category.categoryProducts"
                                       [numOfServices]="numberOfServices"
                                       (onRowImagesLoaded)="productsRowLoaded(c)"
                                       *ngIf="showCategoryRow[c]"></shuffle-cards-row>
                </md-tab>
            </md-tab-group>

            <div id="loader" *ngIf="categoryTabLoading">
                <inter-routes-spinner></inter-routes-spinner>
            </div>
        </div>
    </div>

    <div id="porfolio-wrapper" class="page-part" #portfolioWrapperEl>
        <jhi-portfolio class="fp-tableCell"
                       id="portfolio"
                       #portfolioElRef
                       [portfolio]="portfolio"
                       [scrollEnabled]="true"
                       [numOfCols]="numberOfPortfolioCols">
        </jhi-portfolio>
    </div>

    <div #aboutUsWrapperEL class="page-part" id="about-us">
        <about-us [showMap]="!showMobileNavbar"></about-us>
    </div>

    <div id="parallax-strips" [ngStyle]="parallaxStripsStyle">
        <div id="wrapper">
            <div id="left" class="strips"></div>
            <div id="right" class="strips"></div>
        </div>
    </div>
    <!-- <div class="window-parallax" id="products-window" #productWindowEl></div>
     <div class="window-parallax" id="portfolio-window" #portfolioWindowEl></div>-->
</div>
