<div class="my-fullpage-container">
    <lamps #lampsComponentElementRef *ngIf="!showMobileNavbar"></lamps>

    <div #navbarElementRef>
        <jhi-navbar (positionChanged)="scrollToPosition($event)"
                    [categories]="categories"
                    [positionSubject]="navbarPositionSubject"
                    #navbarComponentElRef id="navbar">
        </jhi-navbar>
    </div>

    <div fxLayout.lt-md="column" fxLayout="row"
         #whyUsElement
         class="page-part"
         fxLayoutAlign.lt-md="start-stretch" fxLayoutAlign="space-between center"
         id="why-us">

        <div fxFlex.lt-md="100" fxFlex="80" fxFlex="80" class="answer">
            <span jhiTranslate="home.whyUs.answer"></span>
        </div>
    </div>

    <div id="services" #servicesElementRef class="page-part">

        <div id="services-tabs-container-wrapper">
            <md-tab-group id="services-tab-container"
                          [selectedCategoryTabIndex]="categoryTabIndex"
                          (selectChange)="selectActiveTabIndex($event)">

                <md-tab *ngFor="let category of categories; let c = index">
                    <ng-template md-tab-label class="tab-label-template">
                        <h5>{{category.categoryName}}</h5>
                    </ng-template>
                    <shuffle-cards-row [allProducts]="category.categoryProductsPage"
                                       *ngIf="showCategoryRow[c]">

                    </shuffle-cards-row>
                </md-tab>

            </md-tab-group>

            <div id="loader">
                <inter-routes-spinner></inter-routes-spinner>
            </div>
        </div>
    </div>

    <div id="porfolio-wrapper" class="page-part" #portfolioWrapperEl>
        <jhi-portfolio class="fp-tableCell"
                       id="portfolio"
                       #portfolioElRef
                       [portfolio]="portfolio"
                       [numOfCols]="numberOfPortfolioCols">
        </jhi-portfolio>
    </div>

    <div #aboutUsWrapperEL class="page-part" id="about-us">
        <about-us></about-us>
    </div>

    <div id="parallax-strips" #parallaxStripsElRef>
        <div id="wrapper">
            <div id="left" class="strips"></div>
            <div id="right" class="strips"></div>
        </div>
    </div>
    <!-- <div class="window-parallax" id="products-window" #productWindowEl></div>
     <div class="window-parallax" id="portfolio-window" #portfolioWindowEl></div>-->
</div>
