<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserOrderLabel" jhiTranslate="devizionApp.userOrder.home.createOrEditLabel">Create
            or edit a User Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="devizionApp.userOrder.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   [(ngModel)]="userOrder.description"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="devizionApp.userOrder.orderedAt" for="field_orderedAt">Ordered
                At</label>
            <div class="input-group">
                <input id="field_orderedAt" type="text" class="form-control" name="orderedAt" ngbDatepicker
                       #orderedAtDp="ngbDatepicker" [(ngModel)]="userOrder.orderedAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="orderedAtDp.toggle()"><i
                        class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="devizionApp.userOrder.product" for="field_product">Ordered
                Product</label>
            <select class="form-control" id="field_product" required name="product"
                    [(ngModel)]="userOrder.product">
                <option [ngValue]="null"></option>
                <option
                    [ngValue]="productOption.id === userOrder.product?.id ? userOrder.product : productOption"
                    *ngFor="let productOption of products; trackBy: trackProductById">
                    {{productOption.productName}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="devizionApp.userOrder.custumer" for="field_custumer">Custumer</label>
            <select class="form-control" id="field_custumer" name="custumer" required [(ngModel)]="userOrder.custumer">
                <option [ngValue]="null"></option>
                <option [ngValue]="custumerOption.id === userOrder.custumer?.id ? userOrder.custumer : custumerOption"
                        *ngFor="let custumerOption of custumers; trackBy: trackCustumerById">
                    {{custumerOption.custumerName + "" + custumerOption.custumerSurname}}
                </option>
            </select>
        </div>
    </div>

    <my-cropped-image-uploader
        [postDirectory]="portfolioSubdirectory"
        (croppedImageUploadCanceled)="onOriginalImageRemove()"
        (croppedImageUploaded)="onCroppedImageLoad($event)"
        (originalImageUploadCanceled)="onCroppedImageRemove()"
        (originalImageUploaded)="onOriginalImageLoad($event)"
        (uploadedCroppedImageBounds)="assignCropBounds($event)">
    </my-cropped-image-uploader>



    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
