<jhi-my-sidenav [allCategories]="allCategories">
    <div id="sidenav-controlls" position="sidenav-content" fxLayout="column">
        <img id="product-photo" [src]="product.croppedImageUri"/>
        <div class="head" fxFlex>
            <h4 id="product-title">{{product.productName}}</h4>
            <div class="search-input-wrapper query">
                <md-input-container class="devizion-dark-theme">
                    <input [(ngModel)]="searchQuery" mdInput class="search-input" placeholder="Пошук">
                </md-input-container>
            </div>
            <p class="product-description">
                {{product.productDescription}}
            </p>
            <div class="price-tag">
                <span>{{product.productPrice | currency:'UAH':true:'2.2-2'}}</span>
            </div>
        </div>
    </div>

    <div id="portfolio-content" position="scrolling-content">
        <jhi-portfolio [includeSidenavMargin]="sidenavOpened"
                       modalVerticalAlign="top"
                       [portfolio]="(product.orderedProduct | ordersPassQuery:searchQuery)"
                       [numOfCols]="numberOfPortfolioCards"
                       [controlsTilePosition]="0"
                       [title]="portfolioGridTitle"
                       *ngIf="showPortfolio">
        </jhi-portfolio>
        <div class="alert">
            <div class="no-orders" *ngIf="isNothingToLoad">
                <span>Нажаль портфоліо цього продукту доки порожне</span>
            </div>
            <div class="load-more-orders" *ngIf="loadMoreAlert">
                <button md-raised-button (click)="loadMoreOrders()"
                        class="devizion-dark-theme" color="primary">Завантажити більше замовлень
                </button>
            </div>
        </div>
    </div>
</jhi-my-sidenav>
