
<div *ngIf="slidePage">
    <h2><span jhiTranslate="devizionApp.slidePage.detail.title">Slide Page</span> {{slidePage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="devizionApp.slidePage.photoUrl">Photo Url</span></dt>
        <dd>
            <span>{{slidePage.photoUrl}}</span>
        </dd>
        <dt><span jhiTranslate="devizionApp.slidePage.description">Description</span></dt>
        <dd>
            <span>{{slidePage.description}}</span>
        </dd>
        <dt><span jhiTranslate="devizionApp.slidePage.croppedPhotoUri">Cropped Photo Uri</span></dt>
        <dd>
            <span>{{slidePage.croppedPhotoUri}}</span>
        </dd>
        <dt><span jhiTranslate="devizionApp.slidePage.positionedLeft">Positioned Left</span></dt>
        <dd>
            <span>{{slidePage.positionedLeft}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'slide-page/'+ slidePage.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
