<div class="cards-wrapper">
    <div id="left-scroller"
         class="scroller"
         (click)="shuffleBackwardAnimationSubject.next()">
    </div>

    <div class="cards-container"
         [@animateCardsGroupShift]="orientation"
         *ngFor="let cardGroup of cardsGroups">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <jhi-service-card *ngFor="let service of cardGroup; let i =index"
                              fxFlex
                              class="service-card"
                              [service]="service"
                              (mouseenter)="pauseTimer()"
                              (mouseleave)="resumeTimer()">

            </jhi-service-card>
        </div>
    </div>

    <div id="right-scroller"
         class="scroller"
         (click)="shuffleForwardAnimationSubject.next()">
    </div>
</div>
